@mixin header-background() {
    position: absolute;
    width: 100%;
    height: 320px;
    top: 0;
    left: 0;
    z-index: -1;
}

@mixin svg() {
    display: block;
    width: 100%;
    height: auto;
}

.header-background {
    @include header-background;

    svg {
        @include svg;
    }
}