$form-theme: #6233b9;
$label-theme: #eadbfb;
$input-textarea-bkgd-theme: #c4a9e4;
$input-textarea-color-theme: #28262c;
$button-bkgd-theme: #34036c;
$button-color-theme: #e5d5f7;

@mixin form() {
    display: flex;
    flex-direction: column;
    gap: 1em;

    background-color: $form-theme;
    padding: 1em;
    width: 20em;
}

@mixin label() {
    display: block;
    margin-bottom: 0.05em;
    color: $label-theme;
    font-weight: bold;
}

@mixin input-textarea() {
    width: 100%;
    padding: 0.5em;
    border-radius: 6px;
    border: none;
    background-color: $input-textarea-bkgd-theme;
    color: $input-textarea-color-theme;
}

@mixin actions() {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}

@mixin button() {
    cursor: pointer;
    font: inherit;
    padding: 0.5em 1.5em;
    border: none;
    border-radius: 4px;
    background-color: $button-bkgd-theme;
    color: $button-color-theme;
}

.form {
    @include form;

    .label {
        @include label;
    }

    .input,
    .textarea {
        @include input-textarea;
    }
}

.actions {
    @include actions;

    .button {
        @include button;
    }

    .button:hover {
        background-color: #23014a;
    }

    .cancel {
        text-decoration: none;
        background-color: transparent;
    }

    .cancel:hover {
        color: #d1bee6;
    }
}