$backdrop-theme: rgba(0, 0, 0, 0.6);
$modal-theme: rgba(0, 0, 0, 0.2);

@mixin backdrop() {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $backdrop-theme;
    z-index: 1;
}

@mixin modal() {
    margin: auto auto;
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 8px $modal-theme;
    padding: 0;
    overflow: hidden;
    z-index: 1;
}

.backdrop {
    @include backdrop;
}

.modal {
    @include modal;
}