$no-posts-theme: #fff;

@mixin posts-wrapper() {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // align-items: stretch;
    // gap: 1em;
    min-width: 100%;
    padding: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.2em;
    align-items: stretch;
}

@mixin no-posts() {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: $no-posts-theme;
}

.posts-wrapper {
    @include posts-wrapper;
}

.no-posts {
    @include no-posts;
}