@mixin article-wrapper() {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@mixin link-decoration() {
    text-decoration: none;
}

@mixin article($theme: #9c7eee) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 100%;
    padding: 1em 1.5em;

    background-color: $theme;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in 1s ease-out forwards;
}

@mixin title($theme: #2a1347) {
    font-size: 1.25em;
    color: $theme;
    font-weight: 600;
}

@mixin text($theme: #593884) {
    font-size: .9em;
    color: $theme;
    font-style: italic;
}

.article-wrapper {
    @include article-wrapper;

    .link {
        @include link-decoration;
    }

    .article {
        @include article;

        .title {
            @include title;
        }

        .text {
            @include text;
        }

    }
}


@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1em);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}