$no-posts-theme: #fff;

@mixin post-wrapper() {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

@mixin no-posts() {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    color: $no-posts-theme;
}

.posts-wrapper {
    @include post-wrapper;
}

.no-posts {
    @include no-posts;
}