@use '../public/styles/reset.scss' as reset;
@use '../public/styles/typography.scss' as typography;
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@include reset.reset;
@include typography.typography;

@mixin main() {
  width: 80%;
  max-width: 60rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 6px;
  background-color: #1f1b1d;
  min-height: 85vh;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);

  hr {
    border: 1px solid #7c7769;
    margin: 2rem 0;
    border-radius: 8px;
  }
}

@mixin main-header() {
  width: 80%;
  max-width: 60rem;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #logo a {
    font-size: 2rem;
    font-weight: 700;
    color: #f9f6f1;
    text-decoration: none;
  }

  ul {
    display: flex;
    gap: 1rem;

    a {
      color: #eee7ea;
      text-decoration: none;
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
      border-radius: 4px;
    }

    a:hover {
      background-color: #5f5a5c;
    }
  }
}

@mixin messages() {
  li {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 6px;
    background-color: #2f2b2d;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

@mixin form-control() {

  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #c7bea7;
  }

  input,
  textarea {
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    background-color: #443f41;
    color: #f4edde;
  }
}

@mixin form-actions() {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;

  button {
    font: inherit;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #f6b511;
    color: #161514;
    cursor: pointer;
  }

  button:hover {
    background-color: #f6a611;
  }
}

main {
  @include main;
}


#main-header {
  @include main-header;
}

.messages {
  @include messages;
}

.form-control {
  @include form-control;
}

.form-actions {
  @include form-actions;
}