html {
    box-sizing: border-box;
    font: 14px "Courier New", monospace;
}

body {
    /* background-color: #020618; */
    background-color: #e6ddf9;
    color: #d1d5db;
    min-height: 75vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}