html {
    box-sizing: border-box;
    font: 14px "Inter", "Avenir", "Helvetica", "Arial", sans-serif;;
}

body {
    /* background-color: #020618; */
    background-color: #532dc7;
    color: #d1d5db;
    min-height: 75vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}